:root{

    --title-color: #322153;

}

html{

    font-family: 'Roboto', sans-serif;

}

body{

    background-color: white;

}

a{

    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}

#home-page{

    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat ;
    background-position: 35vw bottom;

}



#home-page .content{

display: flex;
width: 90%;
max-width: 1100px;
margin: 0 auto;
flex-direction: column;
height: 100%; 

}

#home-page header{

    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#home-page header a{

    display: flex;
    color: var(--title-color);
    font-weight: 700;
    

}

#home-page header a span{

    margin-right: 16px;
    display: flex;    
    background-image: url(/assets/log-in.svg);
    width: 20px;
    height: 20px;

}

#home-page main{

    max-width: 560px;

}

#home-page main h1{

    font-size: 48px;
    color: var(--title-color);

}
